{{- if .Values.seerr.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-seerr
  labels:
    app.kubernetes.io/name: seerr
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
spec:
  {{- if not .Values.seerr.autoscaling.enabled }}
  replicas: {{ .Values.seerr.replicaCount }}
  {{- end }}
  strategy:
    {{- .Values.seerr.deployment.strategy | toYaml | nindent 4 }}
  selector:
    matchLabels:
      app.kubernetes.io/name: seerr
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      {{- with .Values.seerr.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: seerr
        app.kubernetes.io/instance: {{ .Release.Name | quote }}
        app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
        app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    spec:
      {{- with .Values.seerr.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.seerr.serviceAccount.name | default (printf "%s-seerr" .Release.Name) }}
      securityContext:
        {{- toYaml .Values.seerr.podSecurityContext | nindent 8 }}
      {{- if .Values.seerr.initContainers }}
      initContainers:
        {{- toYaml .Values.seerr.initContainers | nindent 8 }}
      {{- end }}
      volumes:
        - name: config
          {{- if .Values.seerr.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Values.seerr.persistence.existingClaim | default (printf "%s-seerr" .Release.Name) }}
          {{- else }}
          emptyDir: { }
          {{- end }}
        {{- if .Values.seerr.persistence.additionalVolumes }}
          {{- .Values.seerr.persistence.additionalVolumes | toYaml | nindent 8}}
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.seerr.securityContext | nindent 12 }}
          image: "{{ .Values.seerr.image.repository }}:{{ .Values.seerr.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.seerr.image.pullPolicy }}
          volumeMounts:
            - mountPath: /app/config
              name: config
          {{- if .Values.seerr.persistence.additionalMounts }}
            {{- .Values.seerr.persistence.additionalMounts | toYaml | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.seerr.service.port | default 5055 }}
              protocol: TCP
          env:
            {{- range $k, $v := .Values.seerr.env }}
            - name: {{ $k }}
              {{- if kindIs "map" $v }}
              {{- toYaml $v | nindent 14 }}
              {{- else }}
              value: {{ $v | quote }}
              {{- end }}
            {{- end }}
          resources:
            {{- toYaml .Values.seerr.resources | nindent 12 }}
      {{- with .Values.seerr.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.seerr.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.seerr.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}