{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}
  {{- if .Values.ingress.annotations }}
  annotations:
    {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ tpl $value $ | quote }}
    {{- end }}
  {{- end }}
spec:
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        {{- if .Values.ingress.tls.hosts }}
        {{- toYaml .Values.ingress.tls.hosts | nindent 10 }}
        {{- else }}
        - {{ .Values.ingress.rules.host }}
        {{- end }}
      secretName: {{ .Release.Name }}-tls
  {{- end }}
  rules:
    {{- if .Values.ingress.rules.host }}
    - host: {{ .Values.ingress.rules.host }}
      http:
        paths:
          {{- range .Values.ingress.rules.http.paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ default .Release.Name .backend.service.name }}
                port:
                  name: {{ .backend.service.port.name }}
          {{- end }}
    {{- end }}
{{- end }}
